.form-wizard-1 {

    > .steps {
        margin-top: 20px;

        > ul {
            border-bottom: 1px solid #333;

            > li{
                &.disabled {
                    > a {
                        &,&:hover,&:active{
                            background: #eee ;
                        }
                    }
                }
                a{
                    &,&:hover,&:active {
                        height: auto;
                        width: 100%;
                        text-align: center;
                        border-radius:0px;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 0.5em 0em;
                        margin: 0px 5px;

                    }
                    .icon-fa {
                        margin: 0;
                        width: 40px;
                    }
                    .number {
                        display: none;
                    }
                }
                &.current {
                    a, a:active, a:hover {
                        color: $ls-color-black;
                        background-color: $ls-color-primary ;
                        border-top-left-radius: 8px;
                        border-top-right-radius: 8px;
                    }
                }
                &.done{
                    a, a:active, a:hover {
                        background: lighten($ls-color-primary, 30%) ;
                        box-shadow: none;
                        color: $ls-color-black
                    }
                }
                &.error > a {
                    background: $ls-color-red;
                    color: $white;
                }
                &:first-child ,&:last-child {
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
    > .actions > ul > li {
        margin: auto 5px;
    }
}


@media (max-width: $medium-breakpoint){

    .form-wizard-1 {

        .content {
            min-height: 520px;
        }
    }
}