.mail-box{
  .Override
    {
      .wrapper {
           width: 100%;
            height: 100%;
          .fill {
            // color: #efefef;
            position: relative;
          
          .sidebar {
            height: 100vh;
            width: 160px;
            padding: 15px;
            padding-top:20px;
            float: left;
            transition: 0.5s;
            border-right: 1px solid #e4eaec;
            ul {
              list-style: none;
              padding: 0;
              li {
                i{
                    width: 30px;
                  }
                a {
                  display: block;
                  /* font-size: 12px; */
                  padding: 15px 0px 12px 0px;
                  position: relative;
                  text-decoration: none;
                  span {
                    float: right;
                    margin-top: 3px;
                  }
                }
              }
            
            }
            .left-sidebar-btn {
                    display:block;
                    position: absolute;
                    background: $white;
                    cursor: pointer;
                    z-index: 20;
                    top: 45%;
                    padding: 15px;
                    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    right:-37px;
                    
                    i {
                        font-size:1.2rem;
                    }
                }
                &.pull-right-side {
                    left:0;
                }
            }
          .mail-content {
            height: 100%;
            position: relative;
            flex: 1; 
              .menu-penal{
                    margin: 20px 12px;
                  .custom-control {
                      .custom-control-label {
                        &::before, &::after{
                          width: 1.5rem;
                          height: 1.5rem;
                          top: 8px;
                          }
                        }
                      }
                  .DropdownAction{
                    display: inline-block;
                    margin-left: 15px;
                    position: relative;
                    top: 8px;
                    right: 8px;
                  }
                  .filter-action{
                    float: right;
                    .filter-menu{
                      .mail-search{
                        display: inline-block;
                      }
                    }
                  }
              }
              .table{
                th{
                  height: 50px;
                }
                tr {
                  td {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .content{
                          cursor: pointer;
                       }
                  &.cell-50 {
                    width: 50px;
                    a{
                      .avtar-img{
                        height: 50px;
                        border-radius: 50%;
                      }
                    }
                    .custom-control {
                          top: 8px;
                      .custom-control-label {
                        &::before, &::after{
                          width: 1.5rem;
                          height: 1.5rem;
                          }
                        }
                      }
                    }
                    &.cell-30 {
                          width: 30px;
                          padding: 5px;
                          
                        .star {
                            visibility:hidden;
                            font-size:30px;
                            cursor:pointer;
                            color:#eb6709; 
                            position: relative;
                            top: 8px
                        }
                        .star:before {
                        content: "\2606";
                        position: absolute;
                        visibility:visible;
                        color:#e4eaec;
                      }
                      .star:checked:before {
                        content: "\2605";
                        position: absolute;
                        color: #eb6709;
                      }
                      &.attachment{
                        position: relative;
                        top: 30px;
                      }
                    }
                    &.cell-130 {
                        width: 130px;
                        position: relative;
                        top: 20px;
                    }

                  }
                }
              }
              .mail {
                position: fixed;
                background: ghostwhite;
                top:60px;
                height: auto;
                overflow-y: auto;
                overflow-x: hidden;
                width: 700px;
                right: -720px;
                bottom: 0px;
                box-shadow: -10px 0 20px 0 rgba(66,66,66,.2);
                z-index: 1050;
                transition: right 0.5s;
                  &.mailOpen {
                      right: 0px;
                  }
                .sidepanel-header {
                  padding: 40px 30px;
                  padding-right: 120px;
                  background-color: #0bb2d4;
                    
                    .mail-action {
                      position: absolute;
                      right: 10px;
                      top: 95px;
                      a {
                        margin-left:12px;
                      }
                    .mail-menu {
                      ul {
                        li {
                          padding-left: 15px;
                          padding-bottom: 10px;
                        }
                        color:white;
                        list-style: none;
                      }
                    }
                  }
                  .sidepanel-close {
                      position: absolute;
                      left: 660px;
                      top: 15px;
                      background: none;
                      border: none;
                    }
                  }
                  .sidepanel-body {
                    padding:30px;
                  .message-heading {
                      position: relative;
                      padding: 20px 0px;
                      .message-heading-main{
                          position: relative;
                          padding-top: 25px;
                          a{
                            .avtar-img{
                                height: 50px;
                                border-radius: 50%;
                            }
                          }
                          .name{
                              position: relative;
                              left: 5px;
                              bottom: 10px;
                          }
                          .email{
                            span{
                              a{
                                color:burlywood;
                              }
                            }
                            display: inline-block;
                            position: relative;
                            right: 64px;
                            top: 10px;
                          }
                          .message-heading-right{
                            display: inline;
                            float: right;
                          }
                      }
                      
                  }
                  .message-attachment{
                        margin-top: 40px;
                        ul{
                          list-style: none;
                          padding: 0px;
                        }
                  }
                  .all-mail{
                      border-top: 1px solid #e4eaec;
                      padding-bottom: 30px;
                  }
                  .comment{
                    border-top: 1px solid #e4eaec;
                    margin-top:20px;
                    margin-bottom:20px;
                  }
                }
              }
              .mail-footer{
                ul{
                    margin: 25px;
                }
              }
            }
              .create-mail {
                  position: fixed;
                  right: 30px;
                  bottom: 130px;
                  z-index: 100;
              }
            }
          }
        }
      }
      @media(max-width: $medium-breakpoint ){
      .sidebar{
        position: fixed;
        top: 60px;
        z-index: 10;
        background: white;
        left: 82px;
      }
       .mail-box .Override .wrapper .fill .sidebar.pull-right-side {
       left: 245px;
      }
    } 
    @media(max-width:$small-breakpoint){
       .sidebar{
        position: fixed;
        top: 60px;
        z-index: 10;
        background: white;
        left: -160px;
      }
      .mail-box .Override .wrapper .fill .sidebar.pull-right-side {
       left: 0px;
      }
    }
