    .VueCarousel-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        .img-fluid {
            padding: 0px 10px;
        }
    }
    .VueCarousel-dot {
        margin-top:5px !important;
        .VueCarousel-dot-button {
            background: $ls-color-black!important;
        }
        &.VueCarousel-dot--active {
            .VueCarousel-dot-button {
                background: $ls-color-primary !important;
            }
        }
    }
    .VueCarousel-navigation{
        .VueCarousel-navigation-prev  {
            // top: calc(55% - 49px) !important;
                transform: translateY(-130%) translateX(-100%) !important;
            
        }
        .VueCarousel-navigation-next {
            // top: calc(55% - 49px) !important;
                transform: translateY(-130%) translateX(100%) !important;
            
        }
    }
