.wizard-2 .vue-form-wizard .wizard-navigation {

    .wizard-progress-with-circle {
        background-color: #eee;
    }

    .wizard-nav {

        .wizard-icon-circle {
            border-color: #eee  !important;

            .wizard-icon {
                color: #333;
            }

            &.checked {
                border-color: rgb(255, 222, 0) !important;
                background-color: rgb(255, 222, 0) !important;
            }
        }

        .wizard-icon-container {
            background-color: #fff  !important;
            border-radius: 70%;
        }

        .stepTitle {
            color: #333333 !important;
        }
    }
}

.wizard-2.with-icon {
    
    .wizard-icon {
        color: #333333 !important;
    }
}
