.layout-icon-sidebar .sidebar-left {
    width: 200px;

    .side-nav {

        .collapse-group-title, .collapse-group-item {
            text-align: center;
            a {
                padding: 15px;
            }
            i {
                display: block;
                width: 100%;
                margin-bottom: 0.5em;
                font-size: 30px;
            }
        }
    }
}