.layout-horizontal .main-content {
    padding: 138px 30px 10px;
}

.layout-horizontal .site-footer {
    padding: 10px 30px;
}

.header-bottom {
    background-color: $ls-color-secondary;
    top: 60px;
    z-index: 70;
    position: fixed;
    width: 100%;
    left: 0;
}

.header-nav {
    list-style: none;
    padding: 0 15px;
    margin: 0;

    .dropdown-group {
        display: inline-block;
        position: relative;
        margin-right: -5px;
        
        &.has-child.toggle-arrow .dropdown-group-title::after {
            right: 20px;
            border-color: $dropdown-header-border-color transparent transparent;
        }
        .dropdown-group-title  a {
            padding: 12px 40px 12px 20px; 
        }
    }
}


@media (max-width: $small-breakpoint-below){

    .dropdown-submenu .dropdown-menu {
        left: 0;
    }

    .header-bottom {
        left: -375px;
        transition: left .3s ease;
        width: 240px;
        height: 100%;
    }

    &.has-child > a::before {
        transform: rotate(-90deg);
    }

    &.has-child.open > a::before {
        transform: rotate(0deg);
    }

    .sidebar-open .header-bottom {
        left: 0;
    }

    .header-nav {
        padding: 0;

        li {
            display: block;
            position: relative;
            margin-right: 0;

            .dropdown-menu {
                border: 0 !important;
                position: relative !important;
                transform: none !important;
                margin: 0;
                padding: 0;
                width: 100%;
                background-color: $sidemenu-submenu-bg;
            }

            a {
                display: block;
            }
        }

        li::after {
            display: table;
            clear: both;
            content: "";
        }

    }

}