.section-head{
    margin-bottom: 40px;
    border-bottom: 2px solid #FFDE00;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
}

.section-hero-area h1{
    margin-bottom: 30px;
}

.section-hero-area {
    position: relative;
    padding-top: 100px;
}