.contact-page {
    
    .contact-box {
        background:$white;
        font-size:0.9rem;
        display:flex;
        position:relative;
        overflow:hidden;
        border:1px solid $ls-color-gray--dark;
        
        .contact-sidebar {
            width:220px;
            border-right: 1px solid $ls-color-gray--dark;
            padding:20px 0;
            z-index: 20;
            
            .total-contacts{
                padding-bottom:20px;
                
                a {
                    display:block;
                    padding:15px 20px;
                    
                    &:hover{
                        background: $ls-color-gray--light;
                    }
                    span{
                        float:right;
                    }
                    i {
                        margin-right:15px;
                    }
                } 
                &::after{
                    position: relative;
                    display: block;
                    margin: 22px;
                    content: "";
                    border-bottom:1px solid $ls-color-gray--dark;
                }
            }
            .contact-label {
                
                h5 {
                    padding: 0 20px;
                }
                ul {
                    list-style-type: none;
                    padding: 0;
                    
                    li {
                        padding: 15px 20px;
                        cursor: pointer;
                        
                        span {
                            float: right;
                        }
                        &:hover{
                            background: $ls-color-gray--light;
                            
                            .label-action {
                                display:block;
                            }
                            span {
                                display:none;
                            }
                        }
                        
                        .label-action {
                            float:right;
                            display:none;
                            
                            a {
                                
                                i {
                                    margin-left:10px;
                                    font-size:1.2rem;
                                    
                                    &.icon-fa-edit:hover, &.icon-fa-trash:hover{
                                        color: $ls-color-black;
                                    }
                                }
                            }
                        }
                    } 
                }
                a {
                    &.add-label {
                        padding:15px 20px;
                        display:block;
                        
                        i {
                            margin-right:10px;
                        }
                        &:hover {
                            background: $ls-color-gray--light;
                        }
                    }
                }
            }
            .left-sidebar-btn {
                display:none;
            }
        }
        .contact-list {
            flex:1;
            padding:20px 0;
            margin:0 30px;
            min-width:200px;
            
            .contact-list-action{
                
                .btn-group, .btn {
                    margin:5px;
                    color:$ls-color-black--light;
                }
                .contact-search{
                    display:inline-block;
                }
            } 
            tr {
                
                td{
                    padding-top:20px;
                    padding-bottom:20px;
                    vertical-align:middle;
                    cursor:pointer;
                    
                    a {
                        display:inline-block;
                        
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 6px;
                            margin:0 10px;
                        }
                    }
                }
            }
        }
        .contact-side-panel {
            position: fixed;
            right:-650px;
            top:60px;
            height: 100%;
            background: $white;
            box-shadow: -2px 0 2px rgba(0,0,0,0.2);
            max-width: 600px;
            width: 100%;
            transition:right .4s ease;
            
            header {
                height:350px;
                position:relative;
                background:url('/assets/admin/img/demo/gallery/1.jpg') no-repeat;
                background-size:cover;
                
                .user-profile {
                    height: 100%;
                    width:100%;
                    position:absolute;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    background: $ls-login-3-bg-color-overlay;
                    
                    a {
                        display:inline-block;
                        
                        &.user-img img , {
                            width: 100px;
                            height: auto;
                            border-radius: 50%;
                        }
                        &.user-img i {
                            color: $white;
                            font-size: 6rem;
                        }
                    }
                    h6 {
                        vertical-align: middle;
                        margin-top: 10px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $white;
                    }
                }
                .sidePanel-action {
                    position: absolute;
                    right: 60px;
                    top: 15px;
                    
                    a {
                        margin-left:15px;
                        color:$ls-color-gray--dark;
                        font-size:1rem;
                        
                        &:hover{
                            color:$ls-color-gray--light;
                        }
                    }
                }
                .edit {
                    display: inline-block;
                    top: 90%;
                    position: absolute;
                    right: 10%;
                    
                    button {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
            }
            .contact-detail {
                margin-top:20px;
                
                form {
                    padding:20px;
                }
            }
            &.pull-left-side{
                right:0px;
            }
        }
    }
    .custom-control-label {
                        
        &::before, &::after{
            top: 0;
            width: 1.5rem;
            height: 1.5rem; 
        } 
        &::before {
            background-color:$white;
            border: 1px solid $ls-color-gray--dark;
        }
    }
    [v-cloak] { 
        display:none;
     }
} 

// media query
@media(max-width: $large-breakpoint) 
{
    .contact-page {
        
        .contact-box {
            
            .contact-sidebar {
                position: absolute;
                height: 100%;
                background: $white;
                left:-220px;
                transition:left .2s linear; 
                
                .left-sidebar-btn {
                    display:block;
                    position: absolute;
                    background: $white;
                    cursor: pointer;
                    z-index: 20;
                    top: 45%;
                    padding: 15px;
                    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.15);
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;
                    right:-37px;
                    
                    i {
                        font-size:1.2rem;
                    }
                }
                &.pull-right-side {
                    left:0;
                }
            }
        }
    }
}
