.mailbox-modal {
    position: fixed;
    background: white;
    top: 60px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 600px;
    width: 100%;
    right: -620px;
    bottom: 0px;
    box-shadow: -10px 0 20px 0 rgba(66, 66, 66, 0.2);
    z-index: 1050;
    transition: right 0.5s;

    &.is-visible {
        right: 0px;
    }

    .sidepanel-header {
        position: relative;
        padding: 40px 30px;
        padding-right: 120px;
        background-color: $ls-color-secondary;
        color: white;

        h3 {
            margin: 0;
            color: white;
        }

        .mail-action {
            position: absolute;
            right: 10px;
            top: 95px;

            a {
                margin-left: 12px;
            }

            .mail-menu {
                ul {
                    li {
                        padding-left: 15px;
                        padding-bottom: 10px;
                    }

                    color: white;
                    list-style: none;
                }
            }
        }

        .sidepanel-close {
            position: absolute;
            right: 25px;
            top: 15px;
            background: none;
            border: none;
        }
    }

    .sidepanel-body {
        padding: 30px;

        .message-heading {
            position: relative;
            padding: 20px 0px;

            .message-heading-main {
                position: relative;
                padding-top: 25px;

                a {
                    .avtar-img {
                        height: 50px;
                        border-radius: 50%;
                    }
                }

                .name {
                    position: relative;
                    left: 5px;
                    bottom: 10px;
                }

                .email {
                    span {
                        a {
                            color: burlywood;
                        }
                    }

                    display: inline-block;
                    position: relative;
                    right: 64px;
                    top: 10px;
                }

                .message-heading-right {
                    display: inline;
                }
            }
        }

        .message-attachment {
            margin-top: 40px;
            ul {
                list-style: none;
                padding: 0px;
            }
        }

        .all-mail {
            border-top: 1px solid #e4eaec;
            padding-bottom: 30px;
        }

        .comment {
            border-top: 1px solid #e4eaec;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
