.mailbox .mailbox-sidebar {
  max-width: 230px;
  min-width: 200px;
  padding: 15px;
  padding-top: 20px;
  transition: 0.5s;
  border-right: 1px solid #e4eaec;
  flex: 1;

  .sidebar-menu {
      list-style: none;
      padding: 0;

      li {
          i {
              width: 30px;
          }

          a {
              display: block;
              padding: 15px 0px 12px 0px;
              position: relative;
              text-decoration: none;

              span {
                  float: right;
                  margin-top: 3px;
              }
          }
      }
  }

  &.is-open {
      left: 0;
  }
}